body {
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    background-color: lightblue;
}

.homepage {
    background-color: darkblue;
    color: white;
    width: 270px;
    height: 570px;
    border: 10px solid blue;
    border-radius: 10px;
    align-items: center;
    text-align: center;
}

.title {
    font-size: 32px;
    text-align: center;
}

a {
    text-decoration: none;
    font-size: large;
}

.recipe-links {
    color: white;
}

p {
    font-weight: bold;
    font-size: small;
}

.description {
    width: 250px;
    text-align: center;
    margin-left: 25px;
}

.newline {
    display: block;
}

.underline {
    text-decoration: underline red;
}

img {
    width: 300px;
    height: auto;
}

.ingredients {
    box-sizing: border-box;
    background-color: darkblue;
    color: white;
    border: 5px solid blue;
    border-radius: 5%;
    width: 300px;
    text-align: center;
}

li {
    margin: 8px;
}

.back-button {
    color: black;
    border: 3px solid white;
    border-radius: 10px;
    padding: 5px;
}